.header {
    background-color: #141438;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.logo img {
    width: 44px;
    height: 44px;
    margin: 0 10px 0 0;
}

.logo {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin: 0 15em 0 0;
}

.menu {
    color: white;
    list-style: none;
    display: flex;
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 0 1em;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

/* TOP */

.top {
    background-color: #141438;
    height: 700px;
    text-align: center;
}

.top h1 {
    color: white;
    font-family: Zoho_Puvi_Bold;
    font-size: 56px;
}

.syellow {
    color: #FAC787;
}

.top p {
    color: white;
    font-size: 18px;
    line-height: 28.8px;
    width: 850px;
    max-width: 850px;
}

@media screen and (max-width: 600px) {
    .header {
        display: none;
    }
}